/.vscode
/c.cpp
/c.exe
/Compiler.rar
/destination.c
/farhanjutss.cpp
/farhanjutss.exe
/furqan.cpp
/furqan.exe
/g.cpp
/g.exe
/Lex.cpp
/Lex.exe
/mycode.cpp
/najaf.cpp
/najaf.exe
/ne.cpp
/ne.exe
/newFile.txt
/newlex.cpp
/newlex.exe
/newlex2.exe
/skeleton.cpp
/skeleton.exe
/syntax.cpp
/syntax1.cpp
/threads.cpp
/Translator.cpp
/whitespace.cpp
/whitespace.exe